{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Handmade" context "Homepage title" %}</h1>from the Northpole
                <h2>{% trans "All our products are handmade by our members and manufactured with the greatest precision" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Upcycled" context "Homepage title" %}</h1>
                <h2>{% trans "items are made of recycled materials like bones, wood and brass – we take care of our environment" context "Homepage title" %}</h2>
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Gift Idea" context "Homepage title" %}</h1>
                <h2>{% trans "we create our products with love and real passion, so they are unique gift ideas for your friends and family" context "Homepage title" %}</h2>
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Substitute" context "Homepage title" %}</h1>our items are good substitute to illegal ivory products – if you choose VCG you contribute to saving the wildlife
                   <a class="btn btn-secondary home__button" href="#">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
